.button-select {
    display: flex;
    flex-direction: row
}

.button-select .button-select-options {
    height: 30px;
    padding: 0 15px;
    color: #54759a;
    font-size: 12px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #e4eaef;
    border-right: none;
    transition: all .3s ease;
    cursor: pointer;
    outline: 0;
    display: block
}

.button-select .button-select-options:first-child {
    border-radius: 3px 0 0 3px
}

.button-select .button-select-options:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #e4eaef
}

.button-select .button-select-options.actived {
    background: #57befc;
    color: #fff;
    border-color: #57befc;
    box-shadow: 0 2px 5px #57befc80
}

.button-select .button-select-options.actived:active {
    box-shadow: none
}